<!--Component for Random Pictures-->
<div class="container" *ngIf="Items">
    <div
      class="row justify-content-around align-items-center"
      Style="height: 121px; width:100%"
    >
      <div
        class="col-lg-3 col-md-6 col-sm-12"
        style="height:40vh; width: auto;"
        *ngFor="let item of Items"
      >
      <div class="view">
        <img src="{{ item.urls.small }}" class="img-responsive smaller" alt="img" width="200px" height="200px"  />
        
    </div>
      </div>  
  <!--Tried Pagination-->
      <mat-paginator [length]="Items.length"
      [pageSize]="size"
      [pageIndex]="page"
      [pageSizeOptions]="[4, 8, 12]"
     
      >
  </mat-paginator>
  
    </div>
  
  </div>



